.facts {
  padding-top: 148px;
  padding-bottom: 108px;
  padding-left: 100px;
  padding-right: 100px;
}

.facts h2 {
  @include reset;
  margin-bottom: 50px;
  padding: 0 15px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $dark-title;
  text-align: center;
}

.facts__list-wrapper {
  max-width: 1210px;
  margin: 0 auto;
}

.facts__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  counter-reset: number;
}

.facts__list li {
  display: flex;
  flex-direction: column;
  width: 263px;
  margin-right: 19px;
  margin-left: 19px;
  margin-bottom: 43px;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  color: $basic-black;

  &::before {
    margin-bottom: 16px;
    content: "0"counter(number);
    counter-increment: number;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1.27273px;
    color: $accent-color;
  }
}

@media (max-width: $desktop-width) {
  .facts {
    padding-top: 18px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .facts h2 {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 41px;
  }

  .facts__list li {
    display: flex;
    width: 255px;
  }
}

@media (max-width: $tablet-width) {
  .facts {
    padding-top: 21px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 39px;
  }

  .facts__list {
    @include reset;
    flex-direction: column;
    align-items: center;
  }

  .facts__list li {
    width: 260px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 41px;
    font-size: 18px;
    line-height: 34px;

    &::before {
      margin-bottom: 10px;
    }
    &:first-child {
      &::before {
        margin-bottom: 15px;
      }
    }
  }

  .facts h2 {
    padding: 0;
  }
}
