.footer {
  padding-top: 18px;
  padding-left: 241px;
  padding-right: 241px;
  padding-bottom: 98px;
}

.footer a {
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: rgba($color: $basic-black, $alpha: 0.5);
  &:hover,
  &:focus {
    color: $accent-color;
    opacity: 1;
  }
  &:active {
    color: $accent-color-dark;
  }
}

.footer__contacts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 15px;
}

.footer__contacts-wrapper {
  display: flex;
  align-items: center;
  &--email {
    margin-right: 90px;
  }
}

.footer__icon {
  margin-right: 15px;
  &--phone {
    fill: transparent;
  }
}

@media (max-width: $desktop-width) {
  .footer {
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 53px;
  }

  .footer__contacts {
    padding-right: 0;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    padding-top: 33px;
    padding-left: 22px;
    padding-right: 30px;
    padding-bottom: 53px;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts-wrapper {
    &--email {
      margin-bottom: 22px;
      margin-right: 0;
    }
  }
}
