.header {
  color: $basic-white;
}

.header__toggle {
  display: none;
}

.header__wrapper {
  position: absolute;
  z-index: 100;
  width: 874px;
  left: 50%;
  transform: translateX(-50%);
}

.header__logo {
  position: absolute;
  top: 318px;
  left: -2px;
}

.header__site-navigation {
  width: 874px;
  margin: 0 auto;
}

.header__menu {
  @include reset-list;
  position: relative;
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  &::before {
    @include pseudo;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: rgba($color: $basic-white, $alpha: 0.2);
  }
}

.header__item a {
  display: block;
  padding: 9px 19px;
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.005em;

  &:hover,
  &:focus {
    color: $accent-color;
    opacity: 1;
  }

  &:active {
    color: $accent-color-dark;
  }
}

@media (max-width: $desktop-width) {
  .header__logo {
    position: static;
    align-self: flex-end;
    display: block;
    margin-top: 25px;
  }

  .header__wrapper {
    position: relative;
    width: auto;
  }

  .header__site-navigation {
    padding-top: 100px;
    padding-bottom: 60px;
    width: auto;
    margin: 0 auto;
    background-color: $basic-white;

    &--open {
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      left: -1px;
      right: 0;
      height: 100vh;
      overflow: auto;
      box-sizing: border-box;
    }

    &--close {
      display: none;
    }
  }

  .header__menu {
    flex-direction: column;
    align-items: stretch;
  }

  .header__menu li {
    margin-bottom: 30px;
  }

  .header__item a {
    position: relative;
    padding-right: 41px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    color: #48494d;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    background-color: #f6f6f6;

    &::before {
      @include pseudo;
      width: 25px;
      height: 25px;
      top: 18px;
      right: 16px;
      z-index: 2;
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
    }
  }

  .header__toggle--close {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 50px;
    height: 52px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .header__icon-close {
    fill: transparent;
    stroke: #141517;
    stroke-opacity: 0.2;
  }

  .header__toggle--close:hover .header__icon-close,
  .header__toggle--close:focus .header__icon-close {
    stroke: $accent-color;
    stroke-opacity: 1;
  }

  .header__toggle--close:active .header__icon-close {
    stroke: $accent-color-dark;
  }

  .header__toggle--open {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    background-color: $accent-color;

    &::before {
      @include pseudo;
      top: 11px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-image: url("../img/menu.svg");
      background-repeat: no-repeat;
    }
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    margin-bottom: 85px;
  }

  .header--no-js .header__site-navigation {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header--no-js .header__toggle {
    display: none;
  }

  .header--no-js .header__inner {
    margin-bottom: 0;
  }
}

@media (max-width: $desktop-width) {
  .header__inner {
    margin-bottom: 0;
  }
}

@media (max-width: $tablet-width) {
  .header__inner {
    padding-left: 16px;
  }
}
