.main-block {
  position: absolute;
  z-index: -1;
  height: 825px;
  top: 0;
  right: 0;
  left: 0;
  background-color: $basic-black;
  background-image: url("../img/bike-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike-background@2x.jpg");
  }
}

@media (max-width: $desktop-width) {
  .main-block {
    height: 340px;
    background-image: url("../img/bike-background-tablet.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike-background-tablet@2x.jpg");
    }
  }
}

@media (max-width: $tablet-width) {
  .main-block {
    height: 390px;
    background-image: url("../img/bike-background-mobile.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike-background-mobile@2x.jpg");
    }
  }
}
