.promo {
  min-height: 825px;
  color: $basic-white;
  background-color: $basic-black;
  background-image: url("../img/bike-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bike-background@2x.jpg");
  }
}

.promo__inner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 327px;
  width: 874px;
  display: flex;
}

.promo h2 {
  @include reset;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
}

.promo p {
  @include reset;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  opacity: 0.8;
}

.promo__text-wrapper {
  width: 390px;
  margin-right: 20px;
  padding-top: 46px;
}

.promo__form-wrapper {
  width: 327px;
  margin-left: auto;
}

.promo__form-wrapper p {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  opacity: 1;
  text-align: center;
}

.promo__form {
  display: flex;
  flex-direction: column;
}

.promo__form input {
  margin-bottom: 20px;
  height: 48px;
  padding: 12px 20px 12px 29px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid #c9ccd4;
  border-radius: 4px;

  &::placeholder {
    color: rgba($color: $input-text, $alpha: 0.5);
  }

  &:focus {
    border: 2px solid $accent-color;
  }
}

.promo__form button {
  height: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  border-radius: 6px;
  border: none;
}

@media (max-width: $desktop-width) {
  .promo {
    min-height: 340px;
    margin-bottom: 0;
    background-image: url("../img/bike-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-background-tablet@2x.jpg");
    }
  }

  .promo__inner {
    padding-top: 135px;
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .promo__text-wrapper {
    padding: 0 16px;
    width: 435px;
    margin-right: 0;
    line-height: 28px;
  }

  .promo h2 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .promo p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }
}

@media (max-width: $tablet-width) {
  .promo {
    min-height: 390;
    background-image: url("../img/bike-background-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bike-background-mobile@2x.jpg");
    }
  }

  .promo__inner {
    padding-top: 121px;
  }

  .promo__text-wrapper {
    margin-bottom: 0;
    width: auto;
    max-width: 435px;
  }

  .promo__text-wrapper p {
    margin-top: auto;
    min-height: 165px;
    box-sizing: border-box;
    padding-bottom: 30px;
  }
}
