/* Fonts */
$font-family: "Open Sans", "Arial", sans-serif;
/* Colors */
$basic-white: #ffffff;
$basic-black: #000000;
$accent-color: #0ad9c6;
$accent-color-dark: #0ca094;
$input-text: #1c1c1c;
$dark-title: #1f1f1f;
$grey-background: #f6f7f9;
$dark-background: #131314;
// Viewports
$tablet-width: 767px;
$desktop-width: 1023px;
